body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Evita el scroll en todo el cuerpo */
}

#map {
    width: 100vw; /* Ancho completo de la ventana */
    height: 100vh; /* Alto completo de la ventana */
    margin: 0; /* Sin márgenes */
    padding: 0; /* Sin padding */
    overflow: hidden; /* Evita el scroll dentro del mapa */
    position: fixed; /* Asegura que el mapa ocupe toda la pantalla */
}

#filtroEstado {
    position: absolute;
    top: 10px !important;
    left: 10px !important;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.leaflet-control-custom {
    position: absolute;
    top: 90px !important; /* Ajusta este valor según el espacio necesario */
    left: 10px !important; /* Alineado con el filtro */
    z-index: 999;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}


.leaflet-popup-content-wrapper {
    max-width: 450px;
    font-family: Arial, sans-serif;
}

.leaflet-popup-content {
    font-size: 14px;
    line-height: 1.5;
}

.leaflet-popup-tip {
    background-color: #f9f9f9;
}

/* Leyenda */
.legend {
    position: absolute;
    bottom: 10px;
    left: 5px;
    background: white;
    padding: 5px;
    line-height: 14px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    font-size: 10px;
    width: auto;
    max-width: 140px;
    z-index: 1000;
    overflow: hidden; /* Evita el scroll */
    max-height: none;
    text-align: left;
    word-wrap: break-word;
}

.legend h4 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.legend i {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    opacity: 0.9;
    border-radius: 4px;
}

#graficoContainer {
    max-width: 80%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#toggleGrafico {
    font-size: 12px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #graficoContainer {
        width: 80%;
        padding: 10px;
    }
}
.leaflet-control-layers {
    position: absolute !important; /* Asegura que la posición sea absoluta */
    top: 40px !important; /* Ajusta este valor para moverlo hacia abajo */
    left: 10px !important; /* Mantén esto alineado con otros controles si es necesario */
    z-index: 1000;
}